---
title: How to help
display: public
description: Ways to help us
category: about
date: 2023-03-07
---

<div>
	<section>

<p>Check the Open Initiatives (both <a href="/about/initiatives">list</a> and <a href="/initiative/">category</a>) and reach out if you...</p>

<ul>
	<li>have field knowledge on the subject and </li>
	<li>are willing to participate on discussions</li>
</ul>

	</section>
<div class="btn-group">
<a href="mailto:commons.garden@proton.me?subject:commons.garden" class="btn">Email</a>
<a href="https://signal.group/#CjQKIAneWf9J6yoVIAKUjLdLynBTbQxuaTEVHbpaLioQhdL-EhAybesuQH-M_Uy8AvcJkEeW" class="btn">signal group</a>
<a href="https://zcal.co/nonlinear/commons" class="btn"> consultation <sup>*</sup></a>
<!-- <a href="https://opencollective.com/commons-garden" class="btn">Donations</a> -->
</div>


<div class="sig"><sup>*</sup> Free for open-source, commons projects</div>
</div> 



