<!DOCTYPE html>
<html lang="en" class="index">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	{{ $sass := resources.Get "css/main.scss"  | resources.ToCSS (dict "outputStyle" "compressed" "enableSourceMap" true) | fingerprint  }}
	{{ $style := $sass | resources.ToCSS }}
	<link rel="stylesheet" href="{{ $style.Permalink }}">

	<title>{{ partial "emoji.html" . }} {{ .Site.Title | upper }}</title>
</head>
<body class="home">
	<div class="container">
		
		<header class="header">
			
			<h1>
				<span>Commons.</span><span>Garden</span>
			</h1>
			
		</header>
	{{ partial "description.html" . }}
		<article>
	<div class="half">
		<section>
			<h3>Latest articles</h3>
				<div class="list latest">
					{{ range .Site.RegularPages  | first 3 }}
					{{ if (in .Params.type "public") }}
					<a class="item" href="{{ .RelPermalink }}">

						<span class="title">{{ .Title }}</span>
						<span class="description">{{ .Params.Category }}{{if .Params.Status }} ({{ .Params.Status }}){{ end }}</span>

					</a>
					{{ end }}
					{{ end }}
				</div>
			
		</section>
				<section>
				<h3>Categories</h3>
				<div class="list categories">
					{{ range $.Site.Data.categories }}

					{{ if (in .status "public") }}
					<a class="item" href="/{{ .title }}">
						<span class="title">
							{{ if (in .pluralize "no") }}
							{{ .title }}
							{{ else }}
							{{ .title | pluralize }}
							{{ end }}
						</span>
						<span class="description">{{ .description }}</span>
					</a>

					{{ end }}
					{{ end }}
				</div>
			</section>

			
	</div>

	{{ partial "slogan.html" . }}

		</article>
	</div>




	
</body>
</html>