<!DOCTYPE html>
<html lang="en" class="single {{ with .File }}{{ .BaseFileName }}{{ end }} {{ if .Params.style  }}{{ .Params.style }}{{ end }} {{ if .Params.category  }}{{ .Params.category }}{{ end }} {{ if .Params.status  }}{{ .Params.status }}{{ end }}">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
  {{ $sass := resources.Get "css/main.scss"  | resources.ToCSS (dict "outputStyle" "compressed" "enableSourceMap" true) | fingerprint  }}
  {{ $style := $sass | resources.ToCSS }}
  <link rel="stylesheet" href="{{ $style.Permalink }}">

  <title>{{ partial "emoji.html" . }} {{ .Site.Title }}/{{ .Params.Category }}/{{ with .File }}{{ .BaseFileName }}{{ end }}</title>
</head>

<body>
	<div class="container">
    <header class="header">

      <nav class="secondary">
        {{ partial "nav-root.html" . }}
        {{ partial "nav-category.html" . }}
      </nav>

      <nav class="primary">
        {{ partial "nav-post.html" . }}
      </nav>

      <div class="description">{{ .Description }}</div>
		</header>


{{ if (in .Params.category "spec") }}
  {{ partial "category-template.html" . }}

{{ else if (in .Params.category "wireframe") }}
  {{ partial "category-template.html" . }}

{{ else if (in .Params.category "initiative") }}
  {{ partial "category-template.html" . }}

{{ else if (in .Params.category "gardener") }}
  {{ partial "gardener-template.html" . }}

{{ else }}
  <article>{{ .Content }}</article>

{{ end }}
		

	{{ partial "description.html" . }}
			{{ partial "slogan.html" . }}
	</div>
	
</body>
</html>

