  $bp-small: 600px;
  $bp-medium: 700px;
  :root {
    --font-text: Calling Code;
    --font-header: TINY5x3-160;
    --color-bg: #FFEDED;
    --color-fg: #15141A;
    --color-accent: #cc999c;
    --color-accent-light: #E0C7C8;
    --transition: 300ms;
    --delay: 300ms;
    --gap: 8px;
    --avatar: 200px;
    --gap-2: calc(var(--gap) * 2);
    --gap-3: calc(var(--gap) * 3);
    --gap-4: calc(var(--gap) * 4);
    --gap-5: calc(var(--gap) * 5);
    --gap-6: calc(var(--gap) * 6);
    --gap-7: calc(var(--gap) * 7);
    --gap-8: calc(var(--gap) * 8);
    --gap-9: calc(var(--gap) * 9);
    --gap-10: calc(var(--gap) * 10);
    --gap-half: calc(var(--gap) / 2);
    --gap-quart: calc(var(--gap) / 4);
    --grid-gap: var(--gap-3);
    --select-border: #777;
    --select-focus: blue;
    --select-arrow: var(--select-border);
  }

  @include keyframes(status) {
    0% {
      background-image: url(../images/slide-in.png);
      background-repeat: no-repeat;
      background-size: 0px 100%;
    }
    100% {
      background-image: url(../images/slide-in.png);
      background-repeat: no-repeat;
      background-size: 100% 100%;
    }
  }

  @mixin status($count: $countDefault, $duration: 300ms, $delay: $delayDefault, $function: linear, $fill: $fillDefault, $visibility: $visibilityDefault) {
    @include animation-name(status);
    @include count($count);
    @include duration($duration);
    @include delay($delay);
    @include function($function);
    @include fill-mode($fill);
    @include visibility($visibility);
  }