
*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	font-family: var(--font-text);
	background-color: var(--color-bg);
	-color: var(--color-fg);
	font-size: 15px;
	line-height: 1.5;

}

.scroll {
	overflow: auto;
	width: 100%;
}

.gardener .badge {
	@media (min-width: $bp-small) {
		display: grid;
		width: 100%;
		grid-gap: var(--grid-gap);
		grid-template-columns: var(--avatar) 1fr;
	}
	ul {
		margin: 0;
		padding: 0;
	}
	@media (max-width: $bp-small) {
		--avatar: 100px;
			margin-bottom:  var(--grid-gap);
			.avatar {
		margin-bottom:  var(--grid-gap);
	}
	}
	padding-bottom: var(--grid-gap);
	margin-bottom: var(--grid-gap);
	border-bottom: solid 1px var(--color-accent);

}

.avatar {
	background-size: cover;
	width: var(--avatar);
	margin-right: var(--gap-3);
	height: var(--avatar);
	@include radius(50%);
}

.container {
	max-width: $bp-small;
	margin: var(--gap-5) auto;
	@media (max-width: $bp-small) {
		margin: var(--gap-3) auto;
	}

}

a {
	@include transition;
	word-break: break-all;
	&:not(.btn) {
		text-decoration: underline;
	}
	color: var(--color-fg);
}
a:hover {
	color: var(--color-accent);
}

h1, h2, h3, h4 {
	line-height: 1.1;
	font-weight: normal;
	margin-top: 0;
}

h1 {
	font-size: 60px;
}
h2 {
	font-size: 30px;
}
h3 {
	font-size: 20px;
}

article {
	h1, h2, h3, h4 {
		&:not(:first-child) {
			margin-top: var(--gap-5);
		}
	}
	img {
		max-width: 100%;
	}
}

// .main.description {
// 	a.logo {
// 	border: none;
// 	display: inline-block;
// 	background-image: none !important;
// 	margin: 0;
// }
// }

html:not(.home) .main.description {
		margin-top: var(--gap-5);
}

header.header, .main.description {
	margin-bottom: var(--gap-5);
	h1, h2, h3, .logo {
		font-family: var(--font-header);
		text-transform: uppercase;
	// fix for firefox
		@-moz-document url-prefix() {
 
 	line-heighT: 65%;
 
}
		@media (max-width: $bp-small) {
			span {
				display: block;
				font-size: 65px;
				line-heighT: 65%;
			}
			margin-bottom: 0;
		}
	}
}
@media (max-width: $bp-small) {
	.half, .third, .quarter, .third-reverse {
		div, section {
			&:not(:first-of-type) {
				margin-top: var(--gap-3);
			}
		}
	}
}

@media (min-width: $bp-small) {
	.half, .third, .quarter, .third-reverse {
		display: grid;
		width: 100%;
		grid-gap: var(--grid-gap);
	}
	.half {

		grid-template-columns: 1fr 1fr;

	}

	.third {

		grid-template-columns: 1fr 2fr;

	}
	.third-reverse {
		grid-template-columns: 2fr 1fr;

	}

	.quarter {
		grid-template-columns: 1fr 3fr;

	}
}



article {
	 counter-reset: steps;
}

blockquote {
	padding: 0 var(--gap-2);
	border: solid 1px #ccc;
	display: inline-block;
	@include transition;
	background-color: rgba(yellow, .2);
	&:not(:only-of-type):before {
		position: absolute;
		counter-increment: steps; 
  content: counter(steps);
		margin-left: -55px;
		text-align: right;
		width: 30px;
		@include opacity(40);
		@include transition;
	}
	&:not(:only-of-type):hover {
		@include scale(1.1);
		@include shadow(box, 4px 4px 0px rgba(0, 0, 0, 0.05));
		&:before {
			@include opacity(100);
		}
	}
}

.home {
	.main.description {
		a.logo {
			pointer-events: none;
			text-decoration: none;
			margin-right: 5px;
		}
		&:before {
			display: none;
		}
	}
}






.logo {
	color: var(--color-fg);
	font-size: 30px;
	margin-right: 5px;
}

ul.status {
	padding: 0;
	list-style-type: none;
	margin-bottom: var(--gap-5);
	
	span {
		text-transform: uppercase;
		
		color: var(--color-bg);
		padding: 0 2px;
	}
}

.slogan {
	margin-top: var(--gap-5);
	text-transform: uppercase;
	display: grid;
	grid-template-columns: 1fr auto;
	grid-gap: var(--gap);
	font-size: 80%;
	
	span {
		padding: 0 var(--gap);
		align-self: center;
		@include status;
		color: var(--color-bg);
		display: inline;
	}
	a.btn {
		padding: 0 var(--gap-2);
		@include radius(20px);
    @include fadeIn($delay: var(--delay));
	}
}

ul.status li {
	&:nth-of-type(1) span {
		@include status($delay: calc(var(--delay) * 1));
	}

	&:nth-of-type(2) span {
		@include status($delay: calc(var(--delay) * 2));
	}

	&:nth-of-type(3) span {
		@include status($delay: calc(var(--delay) * 3));
	}

	&:nth-of-type(4) span {
		@include status($delay: calc(var(--delay) * 4));
	}

	&:nth-of-type(5) span  {
		@include status($delay: calc(var(--delay) * 5));

	}
	&:nth-of-type(6) span  {
		@include status($delay: calc(var(--delay) * 6));

	}
	&:nth-of-type(7) span  {
		@include status($delay: calc(var(--delay) * 7));

	}
	&:nth-of-type(8) span  {
		@include status($delay: calc(var(--delay) * 8));

	}
	&:nth-of-type(9) span {
		@include status($delay: calc(var(--delay) * 9));

	}
}

.list a.item {
	&:after {
		content: "";
		width: 32px;
		height: 32px;
		display: block;
		float: right;
		margin-right: 0;
		margin-top: -32px;
		margin-right: 5px;
		background-image: url(../images/arrow.svg);
		background-repeat: no-repeat;
		@include opacity(40);
		@include transition;
	}
	&:hover:after {
		margin-right: 0px;
		@include opacity(100);
	}
}


.list a.item {
	&:nth-of-type(1) .title {
		@include status($delay: calc(var(--delay) * 1));

	}
	&:nth-of-type(2) .title {
		@include status($delay: calc(var(--delay) * 2));

	}
	&:nth-of-type(3) .title {
		@include status($delay: calc(var(--delay) * 3));

	}
	&:nth-of-type(4) .title {
		@include status($delay: calc(var(--delay) * 4));

	}
	&:nth-of-type(5)  {
		@include status($delay: calc(var(--delay) * 5));
		
	}
	&:nth-of-type(6) .title {
		@include status($delay: calc(var(--delay) * 6));

	}
	&:nth-of-type(7) .title {
		@include status($delay: calc(var(--delay) * 7));

	}
	&:nth-of-type(8) .title {
		@include status($delay: calc(var(--delay) * 8));

	}
	&:nth-of-type(9) .title {
		@include status($delay: calc(var(--delay) * 9));

	}
}

.home section:nth-of-type(2) .list a.item {
	&:nth-of-type(1) .title {
		@include status($delay: calc(var(--delay) * 4));

	}
	&:nth-of-type(2) .title {
		@include status($delay: calc(var(--delay) * 5));

	}
	&:nth-of-type(3) .title {
		@include status($delay: calc(var(--delay) * 6));

	}

	&:nth-of-type(4) .title {
		@include status($delay: calc(var(--delay) * 7));

	}
	&:nth-of-type(5) .title {
		@include status($delay: calc(var(--delay) * 8));

	}
	&:nth-of-type(6) .title {
		@include status($delay: calc(var(--delay) * 9));

	}
}



a.btn {
	text-align: left;
	display: inline-block;
	text-transform: uppercase;
	@include radius(0, regular);
	padding: var(--gap) var(--gap-3);
	border: solid 1px var(--color-accent);

	text-decoration: none;
	@include transition;
	&:hover {
		background-color: white;
	}
	@media (max-width: $bp-small) {
		padding: var(--gap) var(--gap-2);
		&:not(:first-of-type) {
			margin-top: var(--gap);
		}

	}
}

.sig {
	font-size: 90%;
	margin-top: var(--gap-2);
}

code {
	word-break: keep-all;
	background-color: rgba(white, .8);
	padding: 0 2px;
	color: black;
}

table {
	width: 100%;
	tbody tr {
		border-top: solid .5px var(--color-accent);
	}

	td, th {
		padding: 10px;
		border-top: solid .5px var(--color-accent);
	
    text-align: left;

		vertical-align: top;
		&:first-of-type {
			padding-left: 0;
		}
		&:last-of-type {
			padding-right: 0;
		}
	}
}

.list {
	a.item {
		padding: var(--gap) 0;
		border-top: solid 1px var(--color-accent-light);
		border-bottom: solid 1px var(--color-accent-light);
		margin-top: -1px;
		&:hover {
			border-top: solid 1px var(--color-accent);
			border-bottom: solid 1px var(--color-accent);
		}

		text-decoration: none;
		display: block;
		@include transition;
		.title {

			padding: 0 2px;
			color: var(--color-bg);
			text-transform: uppercase;
		}
		span {
			word-break: break-word;
		}
		.description {
			font-size: 80%;
			display: block;
		}
		&:hover {
			color: var(--color-fg);
			.description {
				text-decoration: underline;
			}
		}
	}
}

.popover {
	margin-top: 15px !important;
}

.popover-body {
	@include shadow(box, 5px 5px 0px rgba(0, 0, 0, 0.15));
	overflow: auto;
	max-height: 300px;
	width: 200px;
	font-family: var(--font-text) !important;
	a {
		border: 0 !important;
		background: none !important;
		span {
			&.description {
				color: var(--color-fg);
			}
			&.title {
				color: white;
			}
		}
	}
}


header.header {
  @media (min-width: $bp-medium) {
    position: sticky;
		top: -1px;
		z-index: 10000;
	}
	.description {
		border-top: none !important;
		line-height: 120%;
		font-size: 90%;
		padding-top: var(--gap-2) !important;
		padding-bottom: var(--gap-2) !important;
	}

	margin-bottom: var(--gap-5);
	.description {
		border: solid .5px var(--color-accent);
		background-color: var(--color-bg);
    margin-top: -1px;
		padding: var(--gap-half) var(--gap);
	}
	nav {
    @extend h2;
    @media (min-width: $bp-medium) {
      html.single &.secondary {
        display: grid;
        grid-template-columns: 240px 1fr;
      }
    }
    &.primary {
      select {
        @extend h1;
        border-top: none;
        max-height: 60px;
        background-position: right 20px;
        &:hover, &:focus {
          background-position: right 23px;
        }
        	margin-top: -2px;
	@-moz-document url-prefix() {
		margin-top: 0;
	}
      }
    }
    &.secondary {
      select {
        @extend h2;
        max-height: 40px;
        background-position: right 10px;
        &:hover, &:focus {
          background-position: right 13px;
          z-index: +1;
        }
      }
    }
    select {
      width: 100%;
      background-image: url(../images/arrow-down.svg);
      background-repeat: no-repeat;
      @include transition;
      @include radius(0);
      &:focus, &:hover {
        background-color: white;
        border: solid .5px var(--color-fg);
      }
      option {
        font-size: 12px;
        font-family: var(--font-text);

        &:first-of-type {
          display: none;
        }
      }
      appearance: none;
      background-color: var(--color-bg);
      font-weight: normal;
      font-family: var(--font-header);
      cursor: pointer;
      border: solid .5px var(--color-accent);
      padding: var(--gap);
      padding-right: var(--gap-4);
      outline: none;
      text-transform: uppercase;

      &::-ms-expand {
        display: none;
      }
    }
  }
}



// nav.secondary {
// 	select.nav-root {
// 		width: 240px;
// 	}
// 	select.nav-category {
// 		html.spec & {
// 			width: 90px;
// 		}
// 		html.about & {
// 			width: 125px;
// 		}
// 		html.initiative & {
// 			width: 160px;
// 		}
// 			html.wireframe & {
// 			width: 170px;
// 		}
// 	}
// }

figure {
  margin: 0;
}
