<div class="main description">
<a class="logo" href="/">{{ .Site.Title }}</a> aims to enhance our knowledge commons by sponsoring initiatives through facilitation, consulting, and documentation
		</div>