---
title: Invite-driven onboarding
type: public
status: ongoing
description: Providing context to newcomers
category: spec
type: [flow]
author: [nonlinear]
date: 2023-10-03
---
<p>Invite-driven onboarding allows users to <i>point</i> to objects and share them with their friends inside or outside SSB platform.</p>

<div class="scroll">
	<img src="/images/invite-driven.svg" style="min-width: 1200px !important;">
</div>


<h2>Possible objects:</h2>

<ul>
<li>post </li>
<li>profile page </li>
<li>tag page *</li>
<li>user collection *</li>
<li>private group </li>
<li>private group with automatic invitation
(expires after 1w)</li>
</ul>

<p>* = future state</p>

<p>Used on <a href="https://www.manyver.se/epic/1887">Manyverse</a></p>